.header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 4rem;
  background-color: white;
}

.navbar-logo {
  width: 50px;;
}

.menu {
  width: 9rem;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary);
  will-change: color;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.menu-link:hover {
  color: var(--secondary);
}

@media screen and (max-width: 650px) {
  .header {
    padding: 1rem 2rem;
  }
}