.app-container {
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input-card {
  width: 350px;
  height: 350px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.input-card-bottom {
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 195px;
}

.description {
  margin-bottom: 1.5rem;
}

.input-img {
  width: 100px;
  margin: 2rem;
}